# **Functions (def) & Lambda Functions**

1.	Write a function wish(name) that returns "Hello, Good Morning <name>!".

In [4]:
name=input("Enter your name:")
def wish(name):
  print("Hello,Good Morning",name,"!")
wish(name)

Enter your name:Madhuri
Hello,Good Morning Madhuri !

2.	Write a function cube(n) that returns the cube of a number (nÂ³).

In [5]:
n=int(input("Enter a number:"))
def cube(n):
  return n*n*n
cube(n)

Enter a number:5

125

3.	Write a function check_even(n) that returns True if the number is even, else False.

In [7]:
n=int(input("Enter a Number:"))
def check_even(n):
  if n%2==0:
    return True
  return False
check_even(n)

Enter a Number:1000

True

**Alternative ** simple code To check whether the number is even or odd

In [11]:
n=int(input("Enter a number:"))
def check_even(n):
  print([True,False][n & 1])
check_even(n)

Enter a number:3
False

4.	Write a function greatest_of_two(a, b) that returns the larger of two numbers.

In [14]:
a=int(input("Enter the first Number:"))
b=int(input("Enter the second Number:"))
def greatest_of_two(a,b):
  if a>b:
    return a
  return b
greatest_of_two(a,b)

Enter the first Number:26
Enter the second Number:29

29

5.	Write a function count_letters(s) that returns the number of characters in a string.

In [15]:
s=input("Enter a string:")
def count_letters(s):
  return len(s)
count_letters(s)

Enter a string:Siva Reddy

10

6.	Write a function power(value, exp=2) that returns the number raised to the power exp. (Default exponent = 2)

In [17]:
value=int(input("Enter a number:"))
exp=int(input("Enter the power:"))
def power(value,exp):
  return pow(value,exp)
power(value,exp)

Enter a number:4
Enter the power:3

64

7.	Write a function swap(a, b) that returns the two values swapped as a tuple.

In [19]:
a=100
b=500
def swap(a,b):
  temp=a
  a=b
  b=temp
  return a,b
a,b=swap(a,b)
print("a=",a)
print("b=",b)

a= 500
b= 100

8.	Write a function add_sub(a, b) that returns both sum and difference of two numbers.

In [20]:
def add_sub(a,b):
  sum_result=a+b
  diff_result=a-b
  return sum_result,diff_result
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
sum,diff=add_sub(a,b)
print("Sum=",sum)
print("Difference=",diff)

Enter the first number:87
Enter the second number:24
Sum= 111
Difference= 63

9.	Write a function circle_stats(radius) that returns the area and circumference as a tuple.

In [21]:
def circle_stats(radius):
  area=3.14*radius*radius
  circumference=2*3.14*radius
  return area,circumference
radius=int(input("Enter the radius:"))
circle_stats(radius)

Enter the radius:5

(78.5, 31.400000000000002)

10.	Write a function min_max_sum(nums) that returns the minimum, maximum, and sum of a list.

11.	Write a function concat(*parts) that joins multiple strings together with spaces.

In [1]:
def concat(*parts):
    return " ".join(parts)
result = concat("Hello", "world!", "This", "is", "Python")
print(result)

Hello world! This is Python

12.	Write a function format_name(first, last="") that returns "Last, First" if last name is provided, else "First".

In [2]:
def format_name(first, last=""):
    if last:
        return f"{last}, {first}"
    else:
        return first
print(format_name("John", "Doe"))
print(format_name("Alice"))

Doe, John
Alice

13.	Write a function greet_user(first, last) that returns a message like "Welcome, First Last!".

In [3]:
def greet_user(first, last):
    return f"Welcome, {first} {last}!"
print(greet_user("John", "Doe"))
print(greet_user("Alice", "Smith"))

Welcome, John Doe!
Welcome, Alice Smith!

# **Lambda Functions**

14.	Write a lambda function to add two numbers.

In [4]:
add = lambda a, b: a + b
print(add(5, 7))
print(add(10, 25))

12
35

15.	Write a lambda function mult = lambda *args: that returns the product of all arguments.

In [5]:
mult = lambda *args: 1 if not args else args[0] * mult(*args[1:])
print(mult(2, 3, 4))
print(mult(5, 6))
print(mult(7))
print(mult())

24
30
7
1

16.	Write a one-line lambda expression to flatten a list of pairs like [(a,b), (c,d)] into [a, b, c, d].

In [7]:
flatten = lambda list_of_pairs: [item for pair in list_of_pairs for item in pair]
list_of_pairs = [(1, 2), (3, 4), (5, 6)]
flattened_list = flatten(list_of_pairs)
print(flattened_list)

list_of_pairs_2 = [('a', 'b'), ('c', 'd')]
flattened_list_2 = flatten(list_of_pairs_2)
print(flattened_list_2)

[1, 2, 3, 4, 5, 6]
['a', 'b', 'c', 'd']

22.	Write a function make_multiplier(m) that returns a new function which multiplies input values by m.

In [9]:
def make_multiplier(m):
  def multiplier(x):
    return x * m
  return multiplier
multiply_by_5 = make_multiplier(5)
print(multiply_by_5(10))

multiply_by_3 = make_multiplier(3)
print(multiply_by_3(7))

50
21

24.	Write a function convert_to_fahrenheit(celsius_list) using map and a lambda.
Formula: F = C * 9/5 + 32

In [12]:
def convert_to_fahrenheit(celsius_list):
  fahrenheit_list = list(map(lambda celsius: (celsius * 9/5) + 32, celsius_list))
  return fahrenheit_list
celsius_temperatures = [0, 10, 25, 100]
fahrenheit_temperatures = convert_to_fahrenheit(celsius_temperatures)
print(f"Celsius temperatures: {celsius_temperatures}")
print(f"Fahrenheit temperatures: {fahrenheit_temperatures}")

Celsius temperatures: [0, 10, 25, 100]
Fahrenheit temperatures: [32.0, 50.0, 77.0, 212.0]

27.	Write a function variadic_sum(*args, **kwargs) that sums all positional arguments and multiplies by a scale factor if provided.

27. Write a function `variadic_sum(*args, **kwargs)` that sums all positional arguments and multiplies by a scale factor if provided.

In [14]:
def variadic_sum(*args, **kwargs):
  total_sum = sum(args)
  scale = kwargs.get('scale', 1)
  return total_sum * scale
print(variadic_sum(1, 2, 3, 4))
print(variadic_sum(1, 2, 3, 4, scale=2))
print(variadic_sum(10, 20, 30, scale=0.5))

10
20
30.0

28. Write a function `sort_by_length(strings)` that sorts a list of strings by their length using a lambda as key.

In [15]:
def sort_by_length(strings):
  return sorted(strings, key=lambda s: len(s))
string_list = ["apple", "banana", "cherry", "date"]
sorted_list = sort_by_length(string_list)
print(f"Original list: {string_list}")
print(f"Sorted list by length: {sorted_list}")

string_list_2 = ["cat", "dog", "elephant", "fox"]
sorted_list_2 = sort_by_length(string_list_2)
print(f"Original list: {string_list_2}")
print(f"Sorted list by length: {sorted_list_2}")

Original list: ['apple', 'banana', 'cherry', 'date']
Sorted list by length: ['date', 'apple', 'banana', 'cherry']
Original list: ['cat', 'dog', 'elephant', 'fox']
Sorted list by length: ['cat', 'dog', 'fox', 'elephant']

# **List Comprehensions**

29. Create [1,2,3,4] â list of their squares.

In [16]:
numbers = [1, 2, 3, 4]
squares = [x**2 for x in numbers]
print(squares)

[1, 4, 9, 16]

30.	Create ['a','b','c'] â list of their uppercase versions.

In [17]:
letters=['a','b','c']
uppercase_letters=[letter.upper() for letter in letters]
print(uppercase_letters)

['A', 'B', 'C']

31.	Make a list of even numbers from 1 to 20.

In [18]:
even_numbers=[x for x in range(1,21) if x%2==0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

32.	Given words = ['apple', 'bee', 'cat'], create [(word, len(word)) for word in words].

In [19]:
words=["apple","bee","cat"]
result=[(word,len(word)) for word in words]
print(result)

[('apple', 5), ('bee', 3), ('cat', 3)]

33.	Flatten [[1,2], [3,4], [5]] â [1,2,3,4,5].

In [20]:
nested_list=[[1,2], [3,4], [5]]
flattened_list=[item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5]

34.	From nums = [0,1,2,3], create a list of 'even' or 'odd' strings.

In [21]:
nums = [0, 1, 2, 3]
even_odd = ['even' if x % 2 == 0 else 'odd' for x in nums]
print(even_odd)

['even', 'odd', 'even', 'odd']

36.	From range(1,50), select numbers divisible by both 2 and 3.

In [22]:
numbers = [x for x in range(1, 50) if x % 2 == 0 and x % 3 == 0]
print(numbers)

[6, 12, 18, 24, 30, 36, 42, 48]

37.	Create coordinate pairs (i, j) where i and j go from 0 to 2.

In [23]:
coordinates = [(i, j) for i in range(3) for j in range(3)]
print(coordinates)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

38.	From ['a b','c d e'], produce a flat list of all words.

In [24]:
sentences = ['a b', 'c d e']
words = [word for sentence in sentences for word in sentence.split()]
print(words)

['a', 'b', 'c', 'd', 'e']

39.	Given students = [{'name':'A','score':80}, {'name':'B','score':60}], Create a list of names of students with score â¥ 75.

In [25]:
students = [{'name':'A','score':80}, {'name':'B','score':60}]
high_scorers = [student['name'] for student in students if student['score'] >= 75]
print(high_scorers)

['A']

40.	Build a list of dictionaries like {'n': n, 'square': n*n} for numbers 1 to 10.

In [26]:
numbers = [{'n': n, 'square': n*n} for n in range(1, 11)]
print(numbers)

[{'n': 1, 'square': 1}, {'n': 2, 'square': 4}, {'n': 3, 'square': 9}, {'n': 4, 'square': 16}, {'n': 5, 'square': 25}, {'n': 6, 'square': 36}, {'n': 7, 'square': 49}, {'n': 8, 'square': 64}, {'n': 9, 'square': 81}, {'n': 10, 'square': 100}]

41.	Merge two lists element-wise into tuples, but include only pairs where both elements are truthy.

In [27]:
list1 = [1, 0, 3, 4]
list2 = [5, 6, 0, 8]

merged = [(a, b) for a, b in zip(list1, list2) if a and b]
print(merged)

[(1, 5), (4, 8)]

42.	Create a comprehension to transpose a matrix (swap rows â columns).

In [28]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

43.	Flatten a 3-level nested list [[[1,2],[3]],[[4]]] into a single flat list.

In [29]:
nested = [[[1,2],[3]],[[4]]]
flat = [x for sublist1 in nested for sublist2 in sublist1 for x in sublist2]
print(flat)

[1, 2, 3, 4]

44.	Write a comprehension that keeps only unique items from a list while preserving order.

In [30]:
lst = [1, 2, 2, 3, 1, 4]
seen = set()
unique = [x for x in lst if not (x in seen or seen.add(x))]
print(unique)

[1, 2, 3, 4]

45.	Find all indices (positions) where a given number appears in a list.

In [31]:
nums = [1, 3, 7, 3, 2, 3]
target = 3
indices = [i for i, x in enumerate(nums) if x == target]
print(indices)

[1, 3, 5]

46.	Generate all palindromic numbers (as strings) between 1 and 999.

In [32]:
palindromes = [str(n) for n in range(1, 1000) if str(n) == str(n)[::-1]]
print(palindromes)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '11', '22', '33', '44', '55', '66', '77', '88', '99', '101', '111', '121', '131', '141', '151', '161', '171', '181', '191', '202', '212', '222', '232', '242', '252', '262', '272', '282', '292', '303', '313', '323', '333', '343', '353', '363', '373', '383', '393', '404', '414', '424', '434', '444', '454', '464', '474', '484', '494', '505', '515', '525', '535', '545', '555', '565', '575', '585', '595', '606', '616', '626', '636', '646', '656', '666', '676', '686', '696', '707', '717', '727', '737', '747', '757', '767', '777', '787', '797', '808', '818', '828', '838', '848', '858', '868', '878', '888', '898', '909', '919', '929', '939', '949', '959', '969', '979', '989', '999']

47.	Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs.

In [33]:
d = {'a':[1,2], 'b':[3]}
pairs = [(k, v) for k, vals in d.items() for v in vals]
print(pairs)

[('a', 1), ('a', 2), ('b', 3)]